


body{

  /* background-image:url("https://images.unsplash.com/photo-1618262287816-333bc9a6db21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI5fHxjcnlwdG98ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
  */
  margin:0;

  background-color:black;    /* #14213d;*/
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#head-type{
    text-align: center;
    background-color:#ffffff;
    color: black;
}
#foot-type{
    margin-top: 220px;
    color: black;
    background-color: #f7f7f7;
    padding: 8px;
    text-align: center;
  
}
.bt{
   
    background-color:rgb(5, 123, 190);
    color:white;
    width:75%;
    height: 30px;
    text-align: center;
    font-size: 19px;
    border:none;
    cursor: pointer;
  
}
.bt:hover{
    background-color:rgb(3, 110, 172);
    color: antiquewhite;
    opacity:20;
}
select{
    background-color: azure;
    width:75%;
    padding: 5px;
    margin:10px;
    text-align: center;
    font-size:16px;
}
.fanda{
    margin-top: 30px;
    background-color:#fca311;
    width:45%;
    height: 140px;
    padding-top: 10px;
    border-radius: 4px;
    position:relative;
}
.lb{
    font-family:Arial, Helvetica, sans-serif;
    float:left;
    position: absolute;
    left:80px;
    font-size: 17px;


}
#restable{
    
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    color:rgb(255, 255, 255);
    border-style: none;
    width:510px;
    margin: 0;
    
}
#restable th{
  
    background-color:#364361;
    padding:7px;

}
#restable td{
    color: black;
    background-color: rgb(255, 255, 255);
    padding:7px;
    
}
#restable td:hover{
    background-color: #000000;
    color: white;
}
@media screen and (max-width:1160px) {
 
    .bt{
        width: 75%;
        height: 33px;
        position: relative;
        text-align:center;

    }
    .fanda{
       
        position: relative;
        width: 500px ;
        margin:30px 8px 9px 8px; 
        height: 144px;
        
    }
    select{
        
        font-size: 16px;
        width: 75%;
    }
    .lb{
        position: absolute;
        float: left;
        left: 72px;
        font-size: 16px;
    }
#restable{
    font-size:15px;
    width: 500px;
}


}
@media screen and (max-width: 560px) {
    
    .fanda{
        position:relative;
        width: 290px;
        height: 160px;
        margin: 30px 5px 10px 5px;
    
    }
  select{
         width: 70%;
         font-size: 14px;
         padding: 6px;

    }
    .lb{
        position:absolute;
        float:left;
        left: 44px;
        font-size: 16px;
    }
    .bt{
        width: 70%; 
        height: 35px;
        font-size: 15px;
        padding: 6px;
    }
    #restable{
        font-size: 14px;
        width: 350px;
    }
}
